@model TortoogaApp.ViewModels.CarrierViewModels.CarrierProfileViewModel

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Carrier Profile";
    var ApplicationWebAppUrl = ViewBag.AppUrl;
    string defultURI = ApplicationWebAppUrl + "/images/company_default.png";
    string path = string.IsNullOrEmpty(Model.ImageUrl) ? defultURI : Model.ImageUrl;
}
<style>
    fieldset {
        background: #ffffff;
        border: 2px groove threedface #444;
        -webkit-box-shadow: 0px 0px 0px 0px #000;
        box-shadow: 0px 0px 0px 0px #000;
        /*padding-top: 20px;*/
    }

    legend {
        background: #ffffff;
        border-style: none;
        border-width: 0;
        font-size: 20px;
        line-height: 20px;
        margin-bottom: 10px;
        padding: 20px;
    }


    #field {
        margin-bottom: 20px;
    }
</style>

<!DOCTYPE html>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form id="frmCarrierProfile" asp-action="Save" method="post">
                <div class="form-horizontal">
                    <div>
                        <h5>@ViewData["Title"]<span class="pull-right"><a asp-controller="Carrier" asp-action="ViewBio" asp-route-id="@Model.CarrierGuid">View Profile</a></span></h5>
                    </div>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <fieldset>

                        <legend>Company Info</legend>
                        <div class="form-group">
                            <label asp-for="Email" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="BusinessName" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="BusinessName" class="form-control" />
                                <span asp-validation-for="BusinessName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="ContactPerson" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="ContactPerson" class="form-control" />
                                <span asp-validation-for="ContactPerson" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="MCDotNumber" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="MCDotNumber" class="form-control" />
                                <span asp-validation-for="MCDotNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNumber" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="PhoneNumber" class="form-control" />
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                    <hr />
                    <fieldset>
                        <legend>Company Bio</legend>
                        <div class="form-group">
                            <label asp-for="CompanyBio" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <textarea rows="4" asp-for="CompanyBio" class="form-control"></textarea>
                                <span asp-validation-for="CompanyBio" class="text-danger"></span>
                            </div>
                        </div>
                        @*<div class="form-group">
                                <label asp-for="CarrierShippingItems" class="col-md-3 control-label"></label>
                                <div class="col-md-7">
                                    <textarea rows="4" asp-for="CarrierShippingItems" class="form-control"></textarea>
                                    <span asp-validation-for="CarrierShippingItems" class="text-danger"></span>
                                </div>
                            </div>*@
                        <input type="hidden" name="count" value="1" />
                        <input asp-for="CarrierShippingItems" type="hidden" id="shipItems" />
                        <div class="form-group" id="fields">
                            <label asp-for="CarrierShippingItems" class="col-md-3 control-label"></label>
                            <div class="controls col-md-7" id="profs">
                                <div class="input-append">
                                    @*<div id="field">
                                        <div class="input-group">
                                            <input autocomplete="off" class="input form-control" id="field1" name="field" type="text" data-items="8" />
                                            <span class="input-group-btn">
                                                <button id="b1" class="btn add-more" type="button">+</button>
                                            </span>                                            
                                        </div>

                                    </div>*@
                                </div>
                                <small>Press + to add another ship category :)</small>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Country" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <select id="ddlCountry" asp-for="Country" asp-items="@Model.Countries" class="form-control"></select>
                                <span asp-validation-for="Country" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="State" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <select id="ddlState" asp-for="State" asp-items="@Model.Provincestates" class="form-control"></select>
                                <span asp-validation-for="State" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="SiteUrl" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="SiteUrl" class="form-control" />
                                <span asp-validation-for="SiteUrl" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AddressLine1" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="AddressLine1" class="form-control" />
                                <span asp-validation-for="AddressLine1" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="AddressLine2" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="AddressLine2" class="form-control" />
                                <span asp-validation-for="AddressLine2" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="City" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="City" class="form-control" />
                                <span asp-validation-for="City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="PostCode" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="PostCode" class="form-control" />
                                <span asp-validation-for="PostCode" class="text-danger"></span>
                            </div>
                        </div>

                    </fieldset>
                    <hr />
                    <fieldset>
                        <legend>Banking Details</legend>

                        <div class="form-group">
                            <label asp-for="AccountName" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="AccountName" class="form-control" />
                                <span asp-validation-for="AccountName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="BankIdentificationNumber" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="BankIdentificationNumber" class="form-control" />
                                <span asp-validation-for="BankIdentificationNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="BankAccountNumber" class="col-md-3 control-label"></label>
                            <div class="col-md-7">
                                <input asp-for="BankAccountNumber" class="form-control" />
                                <span asp-validation-for="BankAccountNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </fieldset>
                    <hr />
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-7">
                            <input type="submit" value="Save"  class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">

            <div class="row">
                <div class="clearfix  profile-img-block">
                    <div class="col-sm-12 col-md-6">
                        <label>Company Logo</label>
                        @*<img src="~/images/DefaultUser.jpg" class="img-thumbnail" />*@
                        <img src=@path class="img-thumbnail" />

                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-12">

                        <form asp-action="Upload" asp-controller="Carrier" class="dropzone" method="post" id="CompanyLogo" enctype="multipart/form-data" role="form"></form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script type="text/javascript" src="~/lib/dropzone/dist/dropzone.js"></script>
    <link type="text/css" rel="stylesheet" href="~/lib/dropzone/dist/dropzone.css" />

    <script type="text/javascript">

        function BindShippingItemsData() {
            var shippingData = $('#shipItems').val();
            var allvalues = shippingData.split(',');
            var next = 0;
            var addRemove = "#field" + (next);
            $.each(allvalues, function (index, value) {

                var addto = ".input-append";

                next = next + 1;
                addRemove = "#field" + (next);
                var newIn = '<div class="field mb15" id="field' + (next) + '"><div class="input-group"><input autocomplete="off" class="input form-control" id="field' + next + '" name="field" type="text" value=' + value + '><span class="input-group-btn">';
                if (index != 0) {
                    newIn += '<a id="remove' + (next) + '" data-counter="' + (next) + '" class="btn btn-danger remove-me">-</a></span></div></div>';//
                } else {
                    newIn += '<button id="b1" class="btn add-more" type="button">+</button></span></div></div>'
                }


                var newInput = $(newIn);

                $(addto).append(newInput);

                $("#field" + next).attr('data-source', $(addto).attr('data-source'));
                $("#count").val(next);



                $('.remove-me').click(function () {
                    var removeTagId = $(this).data('counter');
                    var removeTag = "#field" + (removeTagId);
                    $(this).parents('.input-append').find(removeTag).remove();
                  
                });

            });
        };



        $().ready(function () {

            //Preselect the country and state list on load
            $('#ddlCountry option').filter(function (index) { return $(this).text() == '@Model.Country' }).attr('selected', true)
            $('#ddlState option').filter(function (index) { return $(this).text() == '@Model.State' }).attr('selected', true)


            $("#frmCarrierProfile").on("submit", function (event) {           
                event.preventDefault();

                var shipData = '';

                $('#fields').find("[name='field']").each(function () {
                    shipData += $(this).val() + ",";
                });

                $('#shipItems').val(shipData);

                var posturl = '@ApplicationWebAppUrl' + 'Carrier/Save';
                $.ajax({
                    url: posturl,
                    type: 'POST',                                        
                    data: $(this).serialize(),
                    success: function (response) {                        
                        if (response.result == 'Redirect') {                           
                            window.location = response.url;
                        }
                        else if (response.result == 'Error') {


                        }
                    },
                    error: function (response) {                      

                    }
                });
            });

          
            

            BindShippingItemsData();


            $("input[name='field']").keypress(function (e) {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }

                e.preventDefault();
                return false;
            });

            var next = $("#count").val();
            $(".add-more").click(function (e) {
                e.preventDefault();
                var addto = ".input-append";
                //var addRemove = "#field" + (next);
                next = next + 1;
                var addRemove = "#field" + (next);
                var newIn = '<div class="field mb15" id="field' + (next) + '"><div class="input-group"><input autocomplete="off" class="input form-control" id="field' + next + '" name="field" type="text" /><span class="input-group-btn"><a id="remove' + (next) + '" class="btn btn-danger remove-me">-</a></span></div></div>';//

                //var newIn = '<input autocomplete="off" class="input form-control" id="field' + next + '" name="field' + next + '" type="text">';
                var newInput = $(newIn);
                //var removeBtn = '</div></div><div id="field">'
                //var removeBtn = '';
                //var removeButton = $(removeBtn);
                $(addto).append(newInput);
                //$(addRemove).append(removeButton);
                $("#field" + next).attr('data-source', $(addto).attr('data-source'));
                $("#count").val(next);

                $('.remove-me').click(function () {
                   // alert(1);
                    //console.log(addRemove);
                    $(this).parents('.input-append').find(addRemove).remove();
                    next = next - 1;
                    addRemove = "#field" + (next);
                    //alert(0);
                    //console.log(test);
                    //debugger;
                    //e.preventDefault();
                    //var fieldNum = this.id.charAt(this.id.length - 1);
                    //var fieldID = "#field" + fieldNum;
                    //$(this).remove();
                    //$(fieldID).remove();
                });
            });

            $('#ddlCountry').change(function (data) {
                debugger;
                var countrycode = $(this).val();
                if (countrycode == null)
                    countrycode = "";

                var stateurl = '@ApplicationWebAppUrl' + 'Account/GetAllStatesByCountryCode?code=' + countrycode;
                //var code = "US";
                $.ajax({
                    url: stateurl,
                    type: "get",
                    success: function (res) {
                        if (res == '') {
                        }
                        else {
                            $('#ddlState').html('')
                            var markup = "";
                            markup = "<option value = '0' selected>" + "--Select--" + "</option>";
                            if (res != undefined) {
                                for (var i = 0; i < res.length; i++) {
                                    markup += "<option value='" + res[i].Value + "'>" + res[i].Text + "</option>";
                                }
                            }

                            $('#ddlState').html(markup);
                        }
                    }
                });
            });

            var FormDropzone = function () {


                return {

                    //main function to initiate the module
                    init: function () {

                        Dropzone.options.CompanyLogo = {

                            //autoProcessQueue: false,
                            uploadMultiple: false,
                            parallelUploads: 1,
                            addRemoveLinks: true,
                            maxFiles: 1,
                            acceptedFiles: '.jpg,.jpeg,.JPEG,.JPG,.png,.PNG',
                            init: function () {
                                this.on("addedfile", function (file) {

                                    if (file.size > (1024 * 1024 * 1)) // not more than 1mb
                                    {
                                        this.removeFile(file); // if you want to remove the file or you can add alert or presentation of a message
                                        alert("File size exceeds limit!");
                                    }
                                    // Create the remove button
                                    var removeButton = Dropzone.createElement("<button class='btn btn-sm btn-block'>Remove file</button>");

                                    // Capture the Dropzone instance as closure.
                                    var _this = this;

                                    // Listen to the click event
                                    removeButton.addEventListener("click", function (e) {
                                        // Make sure the button click doesn't submit the form:
                                        e.preventDefault();
                                        e.stopPropagation();

                                        // Remove the file preview.
                                        _this.removeFile(file);
                                        // If you want to the delete the file on the server as well,
                                        // you can do the AJAX request here.
                                    });

                                    // Add the button to the file preview element.
                                    file.previewElement.appendChild(removeButton);
                                });

                                this.on("maxfilesexceeded", function (file) {
                                    this.removeFile(file);
                                    alert("No more files please!");
                                });
                            }
                        }
                    }
                };
            }();
            FormDropzone.init();

        });

    </script>
}
